

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head>
<h:outputStylesheet name="vendor/bootstrap/css/bootstrap.min.css" />
<h:outputStylesheet  name="vendor/font-awesome/css/font-awesome.min.css" />
<h:outputStylesheet  name="vendor/datatables/dataTables.bootstrap4.css" />
<h:outputStylesheet  name="css/sb-admin.css" />


</h:head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
   
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">Esprit </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" />
    </button>
    
<div class="collapse navbar-collapse" id="navbarResponsive">
      
<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        


        

        
<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench" />
            <span class="nav-link-text">Gestion mailing</span>
          </a>
          
<ul class="sidenav-second-level collapse" id="collapseComponents">
            
<li>
              <a href="EnvoiMail.jsf">envoyer message</a>
            </li>
            
<li>
              <a href="reception.jsf">boite reception</a>
            </li>
            <li>
              <a href="envoi2.jsf">boite envoi</a>
            </li>
          </ul>
          
       	
        

        

      
<ul class="navbar-nav sidenav-toggler">
        
<li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left" />
          </a>
        </li>
      </ul>
      
<ul class="navbar-nav ml-auto">
        
<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-envelope" />
            <span class="d-lg-none">Messages
              <span class="badge badge-pill badge-primary">12 New</span>
            </span>
            <span class="indicator text-primary d-none d-lg-block">
              <i class="fa fa-fw fa-circle" />
            </span>
          </a>
          
<div class="dropdown-menu" aria-labelledby="messagesDropdown">
            
<h6 class="dropdown-header">New Messages:</h6>
            
<div class="dropdown-divider" />
            <a class="dropdown-item" href="#">
              <strong>David Miller</strong>
              <span class="small float-right text-muted">11:21 AM</span>
              
<div class="dropdown-message small">Hey there! This new version of SB Admin is pretty awesome! These messages clip off when they reach the end of the box so they don't overflow over to the sides!</div>
            </a>
            
<div class="dropdown-divider" />
            <a class="dropdown-item" href="#">
              <strong>Jane Smith</strong>
              <span class="small float-right text-muted">11:21 AM</span>
              
<div class="dropdown-message small">I was wondering if you could meet for an appointment at 3:00 instead of 4:00. Thanks!</div>
            </a>
            
<div class="dropdown-divider" />
            <a class="dropdown-item" href="#">
              <strong>John Doe</strong>
              <span class="small float-right text-muted">11:21 AM</span>
              
<div class="dropdown-message small">I've sent the final files over to you for review. When you're able to sign off of them let me know and we can discuss distribution.</div>
            </a>
            
<div class="dropdown-divider" />
            <a class="dropdown-item small" href="#">View all messages</a>
          </div>
        </li>
        
<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-bell" />
            <span class="d-lg-none">Alerts
              <span class="badge badge-pill badge-warning">6 New</span>
            </span>
            <span class="indicator text-warning d-none d-lg-block">
              <i class="fa fa-fw fa-circle" />
            </span>
          </a>
          
<div class="dropdown-menu" aria-labelledby="alertsDropdown">
            
<h6 class="dropdown-header">New Alerts:</h6>
            
<div class="dropdown-divider" />
            <a class="dropdown-item" href="#">
              <span class="text-success">
                <strong>
                  <i class="fa fa-long-arrow-up fa-fw" />Status Update</strong>
              </span>
              <span class="small float-right text-muted">11:21 AM</span>
              
<div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
            </a>
            
<div class="dropdown-divider" />
            <a class="dropdown-item" href="#">
              <span class="text-danger">
                <strong>
                  <i class="fa fa-long-arrow-down fa-fw" />Status Update</strong>
              </span>
              <span class="small float-right text-muted">11:21 AM</span>
              
<div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
            </a>
            
<div class="dropdown-divider" />
            <a class="dropdown-item" href="#">
              <span class="text-success">
                <strong>
                  <i class="fa fa-long-arrow-up fa-fw" />Status Update</strong>
              </span>
              <span class="small float-right text-muted">11:21 AM</span>
              
<div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
            </a>
            
<div class="dropdown-divider" />
            <a class="dropdown-item small" href="#">View all alerts</a>
          </div>
        </li>
        

        
<li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out" />Logout</a>
        </li>
      </ul>
     </li>
     </ul>
    </div>
   		
  </nav>
  
<div class="content-wrapper">
    
<div class="container-fluid">
      <!-- Breadcrumbs-->
      
<ol class="breadcrumb">
        
<li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        
<li class="breadcrumb-item active">Tables</li>
      </ol>
      <!-- Example DataTables Card-->
      
<div class="card mb-3">
        
<div class="card-header">
          <i class="fa fa-table" /> Welcom #{hrs.byId} #{hrs.byId}</div>
       
<div class="card-body">
        
<div class="table-responsive">
            
 

      <h:form>   
      First name
	<p:inputText value="#{usr.txtname}"></p:inputText>
	Last
	<p:inputText value="#{usr.txtlname}"></p:inputText>
	
	<h:commandButton action="#{usr.doGet()}" value="Chercher"/>
<h:dataTable value="#{usr.mstCode}" class="table table-bordered" id="dataTable" width="100%" cellspacing="0" var="e">


	<h:column width="50">
				<f:facet name="header">
				
				</f:facet>
						</h:column>


	<h:column width="100">
						<f:facet name="header">CIN</f:facet>#{e.cin}
						</h:column>
						
	<h:column width="100" >
						<f:facet name="header">firstName</f:facet>#{e.firstName}</h:column>
					
	<h:column width="100" >
						<f:facet name="header">lastName</f:facet>#{e.lastName}</h:column>
						
	<h:column width="100">
						<f:facet name="header">email</f:facet>#{e.email}</h:column>
						
	<h:column width="100">
						<f:facet name="header">status</f:facet>#{e.status}</h:column>	
	<h:column width="100">
						<f:facet name="header">email</f:facet>#{e.password}</h:column>
						
	<h:column width="100">
						<f:facet name="header">role</f:facet>#{e.role}</h:column>							
   																	
			
	 <h:column width="50">
						<f:facet name="header"></f:facet>
						<h:commandButton action="#{usr.doDelete(e.cin)}" value="Supprimer"/>
						</h:column>
	<h:column width="50">
						<f:facet name="header"></f:facet>
						<h:commandButton action="#{usr.AffichCondida(e.cin)}" value="modifier"/>
						</h:column>
						
			   	
	</h:dataTable>
 </h:form>
	
		
  </div>

          
        </div>
        
        
        
        <div class="container">
        <div class="card card-register mx-auto mt-5">
        <div class="card-header">Ajouter Un Employé</div>
 

</div>
</div>
<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      
<div class="container">
        
<div class="text-center">
          <small>Copyright © Your Website 2017</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up" />
    </a>
    <!-- Logout Modal-->
    
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      
<div class="modal-dialog" role="document">
        
<div class="modal-content">
          
<div class="modal-header">
            
<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          
<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          
<div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-secondary" href="log.jsf">
            <i class="fa fa-fw fa-table" />
            <span class="nav-link-text">Logout</span>
          </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
 <h:outputScript name="vendor/jquery/jquery.min.js" />
 
 <h:outputScript name="vendor/bootstrap/js/bootstrap.bundle.min.js" />
 <h:outputScript name="vendor/jquery-easing/jquery.easing.min.js" />
 <h:outputScript name="vendor/chart.js/Chart.min.js" />
 <h:outputScript name="vendor/datatables/jquery.dataTables.js" />
 <h:outputScript name="vendor/datatables/dataTables.bootstrap4.js" />
 
 <h:outputScript name="js/sb-admin.min.js" />
 <h:outputScript name="js/sb-admin-datatables.min.js" />
 <h:outputScript name="js/sb-admin-charts.min.js" />
 
  </div>

</body></html>